.class1{
  background-color: grey;
  text-align: center;
}

.class2{
  text-align: right;
}

table{
  margin: 0 auto;
  background-color: white;
}


.top{
  background-color:grey;
  height:60px;
  width:110px;
  border-radius:100%;
  border:10px round black;
  line-height:50px;
}
